body {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    border-color: lightgrey;
  }

  img{
    display:block ;
    width: 100%;
    height: 100%;
  }

a, li{
    list-style:none;
    text-decoration: none;
}
.header{
display: flex;
justify-content: start;
align-items: center;


}
.container{
width: 1600px;
margin: 0 auto;
padding: 0 15px;
}

.nav {
    text-transform: uppercase;

    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 0.04em;
    cursor: pointer;
    color:red;
}
.nav-text{
  display: flex;
  justify-content: center;
  border: 10px;
  padding: 10px;
  
}

.current{
    color:green;
}

.image2{
    left: 23%;
    position: relative;
}

.text1{
width: 60px;
font-weight: 300;
letter-spacing: 2%;
line-height: 36px;
display: flex;
text-transform: uppercase;

margin-right: 80px;
color: red;
}


.button1{
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: azure;
  
  display: flex;
  background-color: darkgreen;
  min-width: 90px;
 
  size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  align-items: center;
  border-radius: 4px;
  padding: 12px 16px;
text-align: center;
}

.title-text{
  font-weight: 400;
  size: 28px;
  width: 264px;
  height: 82px;
  letter-spacing: 0;
  line-height: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container1{
display: block;
margin: 0 50px 80px 0;
}
.footer-container2{
 width:400px;

}
.footer-container3{
    margin-right: 80px;
}

.footer-text{
font-weight: 400;
  size: 28px;
  width: 100%;
  letter-spacing: 0;
  line-height: 100%;

  margin-bottom: 20px;
}
.text2{
width:200px;
font-weight: 300;
letter-spacing: 2%;
line-height: 36px;
display: flex;
text-transform: uppercase;

margin-bottom: 80px;
}

.text3{
    
}