body {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    border-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  img{
    display:block ;
    width: 481px;
    height: 412px;

    object-fit: cover;
  }

.nav {
    text-transform: uppercase;

    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.nav-text{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  left: 200px;
  border: 10px;
  padding: 10px;
}

.current{
    color:green;
}

.image2{
    left: 23%;
    position: relative;
}

.text1{
width: 387px;
height: 136px;
font-weight: 300;
letter-spacing: 2%;
line-height: 36px;
position: absolute;
left: 27.5%;
top: 460px;
display: flex;
}


.image1{
  left: 24%;
  position: relative;
  text-align: center;
}

.button1{
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: azure;
  
  left: 518px;
  position: absolute;
  display: flex;
  background-color: darkgreen;
  top: 590px;
  width: 167px;
  height: 62px;
  text-align: center;
  size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
  text-transform: uppercase;
  align-items: center;
  
}

.title-text{
  font-weight: 400;
  size: 28px;
  width: 264px;
  height: 82px;
  position: relative;
  top: 140px;
  left: 510px;
  letter-spacing: 0%;
  line-height: 100%;
}

.part1{
  color: darkgreen;
}

.container{
align-items: center;
display: flex;
justify-content: space-evenly;
}

a, li{
  list-style: none;
  text-decoration: none;
}

