body {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.nav {
    text-transform: uppercase;

    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 0.04em;
}
.nav-text{
  position: relative;
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  left: 250px;
  border: 10px;
  padding: 10px;
  
}

.current{
    color:green;
}

.image2{
    left: 23%;
    position: relative;
}

.image1{
  left: 24%;
  position: relative;
}